body {
  height: 100%;
  width: 100%;
}

/*header*/

.header {
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: calc(-50px - 1.5vw);
  left: 37.5%;
  z-index: 4;
  color: white;
  line-height: 0;
}

.header img {
  height: 50px;
  display: inline;
  padding-right: 10px;
}

.header h1 {
  display: inline;
  font-size: 50px;
  position: relative;
  bottom: 12px;
}

/*screen frame*/

.innerborder {
  height: calc(calc(100vh - 8vw) - 50px);
  min-height: calc(calc(400px - 5vw) - 50px);
  width: 92vw;
  background-color: white;
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 1;
  border: 3vw black solid;
  border-bottom: calc(3vw + 50px) black solid;
  border-radius: 3vw;
}

/*navbar*/

.navtop {
  height: 100px;
  width: 92vw;
  position: fixed;
  top: 4vw;
  left: 4vw;
  z-index: 2;
}

nav{
 margin-top: 1.4em;
 display: table;
 width: 100%;
 height: 1.4em;
 border: none;
}

nav ul{
 display: table-row;
}

nav li{
 display: table-cell;
 margin: 0;
 text-align: center;
}

nav li a{
 display:block;
 padding:1em;
 text-decoration:none;
 font weight:bold;
 font-family: 'Poppins', sans-serif;
 font-size: 1em;
 color: #000;
}

nav li a:hover{
   background-color: #d3d3d3 ;
   border-radius: 100%;
}

/*content*/

.content {
  height: calc(calc(100vh - 8vw) - 151px);
  min-height: calc(calc(400px - 5vw) - 151px);
  width: calc(92vw - 9px);
  z-index: 3;
  margin: 4vw;
  position: absolute;
  top: 100px;
  left: 0;
  overflow-y: scroll;
  padding-left: 8px;
}

.content img {
  height: 200px;
}
